@import url('./common-style.css');

html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}

ol li {
  font-size: 1.125rem;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.main-container {
  margin: 1.5rem;
}

.header {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(45deg, var(--one), transparent);
  padding: 1.5rem 0;
  color: white;
}

.avatar-container {
  background-color: var(--text-color);
  border-radius: 50%;
  padding: 0.25rem;
  display: flex;
  box-shadow: var(--boxShadow);
}

.avatar {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}

.avatar:hover {
  transform: scale(1.1);
  transition: transform 500ms;
  box-shadow: var(--boxShadow);
}

.header__flex {
  display: flex;
  align-items: center;
  max-width: 80rem;
}

.header__left {
  flex: 0.4;
}

.header__middle {
  display: flex;
  flex: 0.2;
  flex-direction: column;
  align-items: center;
}

.header__right {
  flex: 0.4;
  margin-left: 1rem;
}

.header--icon {
  display: inline-block;
  font-size: 5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.header--icon:hover {
  transform: scale(1.25);
  transition: transform 500ms;
  box-shadow: var(--boxShadow);
}

.bg-black {
  background-color: #000;
}

.bg-text-color {
  background-color: var(--text-color);
}

.name {
  margin: 0;
  color: var(--text-color);
  width: 15rem;
}

.separator {
  display: none;
}

.content {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
  height: 60vh;
}

.content-container {
  display: flex;
  width: 109rem;
}

.content--child {
  flex: 0.5;
  box-shadow: var(--boxShadow);
  padding: 1.5rem;
  border-radius: 0.5rem;
  overflow-y: auto;
}

.content--child__right {
  margin-left: 1.5rem;
}

.address {
}

.address__line {
  margin: 0.5rem;
  font-size: 1.25rem;
  background-color: var(--two);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  display: inline-block;
  box-shadow: 6px 6px 4px 1px rgb(0 0 0 / 40%);
  font-style: normal;
}

.email-text {
  width: 18rem;
  background-color: #eb6440;
}

.bg-linkedin {
  background-color: #0a66c2;
}

.bg-github {
  background-color: #000;
}

.bg-resume {
  background-color: var(--two);
}

.about-me {
}

.hi-there {
  font-size: 1.25rem;
}

.emoji {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

/* Right child - start */

.content-title {
  color: var(--two);
  font-size: 1.5rem;
  margin: 0;
}

.footer {
  text-align: center;
  background-color: var(--text-color);
  color: white;
  padding: 1rem;
}

.footer--name a {
  color: var(--five);
  font-size: 1.25rem;
}

footer p {
  margin: 0;
}
