@import url('../common-style.css');

html {
  font-size: 16px;
  font-family: monospace;
}

body {
  margin: 0;
  padding: 0;
  background: #e0e0e0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.clock-form {
  width: 15rem;
  font-size: 1.5rem;
}

label,
input,
button {
  margin-bottom: 0.5rem;
  width: 100%;
}

.time-input {
  height: 3rem;
  padding: 8px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  margin-top: 0.5rem;
}

.set-time-btn {
  font-size: 1.25rem;
  padding: 2rem;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: black;
  margin-top: 1rem;
  cursor: pointer;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  width: 15rem;
}

.timer-btn {
  color: white;
  cursor: pointer;
  padding: 2rem;
  font-size: 4rem;
  border: none;
  border-radius: 30px;
  height: 15rem;
}

.p-white {
  background-color: white;
  color: black;
  margin-bottom: 1rem;
}

.p-black {
  background-color: black;
  color: white;
  margin-bottom: 1rem;
}

.disable-btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.reset-btn {
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: var(--boxShadow);
}

.change-time {
  margin-top: 2rem;
  margin-bottom: 0;
}

.no-display {
  display: none;
}

.start-dialog {
  width: 12rem;
  /* background: transparent; */
  border: none;
  text-align: center;
  padding: 1.5rem;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
}

.start-btn {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: none;
  background-color: green;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  box-shadow: var(--boxShadow);
}

.generic-dialog {
  border: none;
  border-radius: 8px;
}

.message {
  font-size: 1.125rem;
  text-align: center;
}

.ok {
  float: right;
  width: auto;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white;
}

.shadow-white {
  box-shadow: inset 0 -0.0625em 0.0625em 0.125em rgb(0 0 0 / 0.1),
    inset 0 -0.125em 0.0625em rgb(0 0 0 / 0.2),
    inset 0 0.1875em 0.0625em rgb(255 255 255 / 0.3),
    0 0.125em 0.125em rgb(0 0 0 / 0.5);
}

.shadow-black {
  box-shadow: inset 0 -0.0625em 0.0625em 0.125em rgb(255 255 255 / 0.1),
    inset 0 -0.125em 0.0625em rgb(255 255 255 / 0.2),
    inset 0 0.1875em 0.0625em rgb(200 200 200 / 0.3),
    0 0.125em 0.125em rgb(255 255 255 / 0.5);
}
